body {
  background-color: lightblue;
  font-family: verdana;
}

#logo {
    cursor: pointer;
    transition: transform 0.3s ease;
    display: block;
    margin: 20px auto;
}

#logo:hover {
    /* Opcional: añadir un pequeño efecto de escala al pasar el cursor */
    transform-origin: center;
}